<form [formGroup]="resetPWFormGroup" (ngSubmit)="onSubmit()" class="center">

  <h2>
    Reset Your Password
  </h2>

  <br>
  <p class="margin-5">
    Enter your email address below and we'll send you a link with instructions
    to reset your password.
  </p>

  <br>
  <mat-form-field class="input-a">
    <input matInput type="text" placeholder="Email" formControlName="emailInput" required><br>
  </mat-form-field>

  <button class="button-a" mat-raised-button type="submit" [disabled]="!resetPWFormGroup.valid">Login</button>

</form>
