<form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">

  <mat-form-field class="input-a">
    <input matInput type="text" placeholder="User Name" formControlName="usernameInput" required><br>
  </mat-form-field>

  <mat-form-field class="input-a">
    <input matInput type="password" placeholder="Password" formControlName="passwordInput" required><br>
  </mat-form-field>

  <button class="button-a" mat-raised-button type="submit" 
          [disabled]="!loginFormGroup.valid">Login
  </button>

  <p class="center">
    Forgot password? <a routerLink="/forgot-pw"  >Click here to reset.</a>
  </p>

</form>

